<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
      <title>register success</title>
    </head>
    <body>
    <h1>register success</h1>
        <br>
        <div>
        <p>사용자 아이디:<%= id%></p>
        <p>사용자 이름:<%= name%></p>
            <br>
            <br>
            <a href="/login">다시 로그인 하기</a>
        </div>
    </body>
</html>